<h2> Edit Exercise </h2>
<form action="/exercises/<%=@exercise.id%>" method="POST">
  <input type="hidden" name="_method" value="PATCH">

  <label>Exercise Name</label>
  <input type="text" name="name">
<br>
  <label>Exercise Muscle Group</label>
  <input type="text" name="muscle_group">
<br>
  <label>Exercise Rep Range</label>
  <input type="integer" name="rep_range">
  <br>
  <input type="submit" value="Update Exercise">
</form>
<br>

<form action="/exercises/<%= @exercise.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Exercise">
</form>
