<h1>Create a New Exercise</h1>

<form action="/exercises" method="POST">
<label>Exercise Name</label>
  <input type="text" name="name" />
  <br>
  <label>Muscle Group</label>
  <input type="text" name="muscle_group" />
  <br>
  <label>Rep Range</label>
  <input type="integer" name="rep_range" />
  <br>
  <input type="submit" value="Create" />
</form>
