<p><label>Exercise Name: </label><%=@exercise.name%><p>
<p><label>Muscle Group: </label><%=@exercise.muscle_group%></p>
<p><label>Rep Range: </label><%=@exercise.rep_range%></p>

<br>
<a href="/exercises">Go back to exercise library</a>
